
body {
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
}

#invitation {
    background-color: #f7eceb;
    box-shadow: 16px 16px 16px #999;
}

#presentation {
    font-family: 'Playfair Display';
    font-size: 20px;
    font-weight: bold;
}

#content {
    padding-top: 16px;
    padding-bottom: 16px;
}

#img {
    background-image: url('1_small.jpg');
    background-size: cover;
    height: 30vh;
}


h1 {
    padding: 8px;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    font-family: 'Great Vibes';
    font-size: 48px;
}

span {
    display: block;
}

#reception {
    font-family: 'Josefin Slab';
    font-size: 18px;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
    #img {
        background-image: url('1_medium.jpg');
        height: 90vh;
    }
    #invitation {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        padding: 16px;
    }
}
