body {
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
}

#content {
    margin: auto;
}

.data {
    display: flex;
    justify-content: center;
    gap: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #ddd;
  }
