
body {
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    color: #c0cee6;
    background-color: #e64f64;
}

#invitation {
    background-color: #002d59;
}

#presentation {
    font-family: 'Playfair Display';
    font-size: 18px;
    font-weight: bold;
}

#content {
    padding-top: 16px;
    padding-bottom: 16px;
}

#img {
    background-image: url('new_small.jpeg');
    background-size: cover;
    height: 30vh;
}


h1 {
    padding: 8px;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    font-family: 'Great Vibes';
    font-size: 80px;
}

img {
    width: 160px;
}

span {
    display: block;
}

#reception {
    font-family: 'Josefin Slab';
    font-size: 18px;
    text-transform: uppercase;
}

#note {
    font-size: 12px;
}

@media screen and (min-width: 480px) {
    body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 100px;
    }    
    #img {
        background-image: url('new_large.jpeg');
        height: auto;
    }
    h1 {
        font-size: 40px;
    }
    #invitation {
        display: grid;
        width: 800px;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        padding: 0px;
    }
}
